<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>{{groupId}}</groupId>
        <artifactId>{{svc}}</artifactId>
        <version>{{version}}</version>
    </parent>
    <artifactId>{{svc}}-feign-client</artifactId>
    <name>{{svc}}-feign-client</name>
    <description>Feign client + fallback factory for consumers</description>

    <dependencies>
        <dependency>
            <groupId>{{groupId}}</groupId>
            <artifactId>{{svc}}-contract</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-openfeign</artifactId>
            <optional>true</optional>
        </dependency>
    </dependencies>
</project>
